@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-size: 24px;
    background-color: #f3f3f3;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

main {
    position: absolute;
}

span {
    display: flex;
}

input {
    border: none;
    font-size: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: white;
    height: 80px;
    padding: 0 15px;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 40px;
    box-shadow: 4px 0 8px 4px lightgray;
    box-sizing: border-box;
    z-index: 1;
}

.intro-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    font-size: 28px;
    box-sizing: border-box;
    padding: 50px;
    z-index: 2;
}

.intro-screen img {
    width: 100px;
    padding: 50px 0;
    position: fixed;
    top: 100px;
}

.intro-screen input {
    display: block;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    border: 1px solid #d7d7d7;
    border-radius: 6px;
}

.intro-screen div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    color: #696969;
    border-color: #e7e7e7;
    background-color: #e7e7e7;
    width: 100px;
    height: 50px;
    font-size: 20px;
}

.message-area {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    height: 100vh;
    width: 100%;
    margin: 80px 0;
    box-sizing: border-box;
    overflow-y: scroll;
}

.messages {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    flex-wrap: wrap;
    font-size: 18px;
    padding: 8px;
    margin: 3px 0;
    height: 60px;
}

.system {
    color: #aaaaaa;
}

.global.messages {
    background-color: white;
}

.system.messages {
    background-color: #dcdcdc;
}

.private.messages {
    background-color: #ffdede;
}

.user-context {
    font-weight: bold;
}

.side-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    align-items: center;
    text-align: center;
    right: 0;
    top: 0;
    max-width: 60%;
    margin-left: 40%;
    height: 100vh;
    background-color: white;
    font-size: 16px;
    box-shadow: 0 0 25px 100vw rgba(30, 30, 30, 0.9);
    z-index: 1;
}

.side-menu h3 {
    padding: 12px 15px;
}

.side-menu ul {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.side-menu ul * {
    display: flex;
    align-items: center;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.side-menu .users {
    max-height: 60vh;
    overflow-y: scroll;
}

.side-menu li {
    justify-content: space-between;
    padding: 4px 15px;
    text-align: start;
}

.side-menu span {
    /* min-width: 160px; */
}

.side-menu ion-icon {
    font-size: 28px;
    text-align: center;
}

.side-menu .selected {
    font-size: 18px;
    color: #28bb25;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: white;
    font-size: 28px;
    box-shadow: 4px 0 8px 4px lightgray;
    height: 80px;
    padding: 0 15px;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

.bottom > div * {
    padding: 6px 0;
}

.bottom input::placeholder {
    color: black;
    font-style: italic;
}

.info {
    color: #505050;
    font-size: 14px;
    font-weight: 300;
}

.hidden {
    visibility: hidden;
    display: none;
}